@{
    ViewBag.Title = "Search";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Groupes")
        </th>
        <th>
            @Html.DisplayName("Styles")
        </th>
        <th></th>
    </tr>
    @foreach (var item in (List<TrouveUnBand.Models.BandModels>)ViewData["bandList"])
    {
        <tr>
            <td>
                @Html.DisplayName(item.Name)
            </td>
            <td>
                @Html.DisplayName(item.Style)
            </td>
        </tr>
    }
</table>
