@{
    ViewBag.Title = "Search";
}
<div class="row">
    @foreach (var item in (List<TrouveUnBand.Models.SearchResultModel>)ViewData["searchResults"])
    {
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="thumbnail">
                <img data-src="holder.js/300x300" alt="Image">
                <div class="caption">
                    <h3>@Html.DisplayName(item.Name)</h3>
                    <p>@Html.DisplayName(item.Description)</p>
                    <p>@Html.DisplayName(item.Location)</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>            
        </div>
    }  
</div>


