# Build results
	*/[Dd]ebug/
	*/[Dd]ebugPublic/
	*/[Rr]elease/
	*/[Rr]eleases/
	*/x64/
	*/x86/
	*/build/
	*/bld/
	*/[Bb]in/
	*/[Oo]bj/
	
	# User-specific files
	*.suo
	*.user
	*.userosscache
	*.sln.docstates
	*.v12.suo Web.config Web.Debug.config Web.Release.config
	
	# SQL Server files
	*.mdf
	*.ldf
