@model  TrouveUnBand.Models.EventPageViewModel
@{
    ViewBag.Title = "Événements";
}

<div id="event-page-container">
    <div class="col-md-12">
        <h2 class="col-md-12 row">Événements</h2>
    </div>

    <div class="col-md-12">
        @if (User.Identity.Name != "")
        {
            @Html.ActionLink("Créer un événement", "Create", new { controller = "Event" }, new { @class = "btn btn-primary" })
        }
        <button id="show-filter-btn" class="btn btn-default pull-right" type="button">Afficher/Masquer filtres</button>
    </div>

    <div id="page-section-calendar" class="col-md-12 page-display-div">
        <div id="calendar" class="col-md-9"></div>
        <input type="hidden" id="DayWithEvent" value=@Model.DayWithEvent />
        <div id="filter-menu" class="col-md-3">
            <div id="menu-title" class="col-md-12">
                <span>Filtres</span>
            </div>
            <div id="menu-content" class="col-md-12">
                <input id="input-keyword" type="text" placeholder="Mots-clés" class="form-control" />
                <select class="form-control selectpicker">
                    <option value="25">25 résultats par page</option>
                    <option value="50">50 résultats par page</option>
                    <option value="75">75 résultats par page</option>
                    <option value="100">100 résultats par page</option>
                </select>
                <select id="select-view" class="form-control selectpicker">
                    <option value="list">Affichage en: Liste</option>
                    <option value="grid">Affichage en: Grille</option>
                </select>
            </div>
        </div>
    </div>

    <div id="event-display">
        @Html.Partial("_IndexEventDisplay", Model.EventList)
    </div>

</div>
