@model TrouveUnBand.ViewModels.ProfileModificationViewModel.MusicianInfo

<div class="profile-modif-tab-container">
    @using (Html.BeginForm("MusicianProfileModification", "Users", FormMethod.Post, new { @class = "row", @role = "form" }))
    {
        <div class="col-md-6">
            @Html.TextAreaFor(m => m.Description, 10, 10, new { @class = "form-control " })
        </div>


        <div class="col-md-11 pull-right">
            <div class="col-md-7 pull-right">
                <input type="submit" class="btn btn-primary col-md-12" value="Enregistrer les Modifications" />
            </div>
            <div class="col-md-3 pull-right">
                <input type="button" class="btn btn-default" value="Annuler" onclick="annuler()" />
            </div>
        </div>
    }
</div>