<div class="profile-info-row row" data-panel-id="description-panel">
    <div class="profile-info-header col-xs-8 col-sm-9 col-md-10 col-lg-10 col-md-push-1">
        <strong class="row ">Info recherche</strong>
        <span class="text-muted col-md-12 row">Cliquer pour afficher/masquer les info recherche du musicien</span>
    </div>
    <i class="chevron glyphicon glyphicon-chevron-down text-muted col-md-offset-1"></i>
</div>

<div id="description-panel" class="profile-info-panel row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-push-1">
        <div class="panel ">
            <div class="panel-heading">
                <h3 class="panel-title">Info recherche</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class=" col-md-12 col-lg-12">
                        <p>
                            <b>Disponibilité:</b>
                            <span>Soir et fin de semaine</span>
                        </p>
                        <p>
                            <b>Nombre de répétition:</b>
                            <span>3 fois semaine</span>
                        </p>
                        <p>
                            <b>Intérêt:</b>
                            <span>Pour le fun</span>
                        </p>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row col-md-4 form-group">

            <img src="http://placehold.it/250x200" alt="Image">
    </div>
    <div class="col-md-8 col-md-pull-1" id="AdvertDesc">
        <div class="col-md-12 form-group">
            <h3>type</h3>
        </div>
        <div class="col-md-3 form-group">
            <span class="glyphicon glyphicon-calendar"></span> <span>date</span>
        </div>
        <div class="col-md-3 form-group">
            <span class="glyphicon glyphicon-music"></span> <span>genre</span>
        </div>
        <div class="col-md-3 form-group col-md-pull-1">
            <span class="glyphicon glyphicon-map-marker"></span><span>location</span>
        </div>
        <div class="col-md-3 form-group col-md-pull-2">
            <span class="glyphicon glyphicon-ok"></span> <span>status</span>
        </div>
        <div class="col-md-12 form-group">
            <hr class="colorgraph" />
            <span>desc</span>
        </div>
    </div>
</div>