<div class="carousel slide article-slide col-md-12" id="article-photo-carousel" style="position:absolute">
    <div class="carousel-inner cont-slider">
        <div class="item active">
            <img alt="" title="" src="http://placehold.it/561x386" />
        </div>
        <div class="item">
            <img alt="" title="" src="http://placehold.it/561x386" />
        </div>
        <div class="item">
            <img alt="" title="" src="http://placehold.it/561x386" />
        </div>
        <div class="item">
            <img alt="" title="" src="http://placehold.it/561x386" />
        </div>
    </div>
</div>
<div>
    <ul class="list-unstyled col-md-2 col-md-offset-9">
        <li class="active" data-slide-to="0" data-target="#article-photo-carousel">
            <img width="100" alt="" src="http://placehold.it/250x172"/>
        </li>
        <li data-slide-to="1" data-target="#article-photo-carousel">
            <img width="100" alt="" src="http://placehold.it/250x172">
        </li>
        <li data-slide-to="2" data-target="#article-photo-carousel">
            <img width="100" alt="" src="http://placehold.it/250x172">
        </li>
        <li data-slide-to="3" data-target="#article-photo-carousel">
            <img width="100" alt="" src="http://placehold.it/250x172">
        </li>
        <li data-slide-to="4" data-target="#article-photo-carousel">
            <img width="100" alt="" src="http://placehold.it/250x172">
        </li>
        <li data-slide-to="5" data-target="#article-photo-carousel">
            <img width="100" alt="" src="http://placehold.it/250x172">
        </li>
    </ul>
</div>
