<div class="container ">
        <div class="profil-tab-container col-md-12">
            <div class="thumbnail card col-md-3 set-profil-thumnail-border">
                <img src="http://placehold.it/250x172" alt="Image">
            </div>
            <div class="col-md-9 set-profil-header-border">
                <h4>Bon</h4>
                <h3>Bon</h3>
                <h3>Bon</h3>
                <h3>Bon</h3>
            </div>
            <div class="profil-tab-menu col-md-3" >
                <div class="list-group">
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-user"></h4><br />Description
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-music"></h4><br />Info 2
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-play"></h4><br />Info 3
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-plus"></h4><br />Info 4
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-stats"></h4><br />Info 5
                    </a>
                </div>
            </div>
            <!-- info section -->
            <div class="col-md-9">
                <div>
                    <div>
                        <center>
                            <h1 class="glyphicon glyphicon-user" style="font-size:12em;color:#000000"></h1>
                            <h2 style="margin-top: 0;color:#000000">Bientôt</h2>
                            <h3 style="margin-top: 0;color:#000000">DIsponible</h3>
                        </center>
                    </div>
                </div>
            </div>
        </div>
</div>



@*<div class="col-md-3">
<div class="thumbnail card" style="margin-bottom:0px">
    <img src="http://placehold.it/250x172" alt="Image">
    
</div>
    <div class="profil-tab-menu ">
        <a href="#" class="list-group-item active text-center">
            <h4 class="glyphicon glyphicon-plane"></h4><br />Description
        </a>
        <a href="#" class="list-group-item text-center">
            <h4 class="glyphicon glyphicon-road"></h4><br />Info 2
        </a>
        <a href="#" class="list-group-item text-center">
            <h4 class="glyphicon glyphicon-home"></h4><br />Info 3
        </a>
        <a href="#" class="list-group-item text-center">
            <h4 class="glyphicon glyphicon-cutlery"></h4><br />Info 4
        </a>
        <a href="#" class="list-group-item text-center">
            <h4 class="glyphicon glyphicon-credit-card"></h4><br />Info 5
        </a>
    </div>*@
        </div>