@model TrouveUnBand.Models.User
@{
    ViewBag.Title = "ProfileModification";
}

@if (Request.IsAuthenticated)
{
    var user = (TrouveUnBand.Models.User)ViewData["UserData"];

    using (Html.BeginForm("ProfileModification", "Users", FormMethod.Post, new { @class = "row", @role = "form", enctype = "multipart/form-data" }))
    {
        <div class="row margin-top-50">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#sectionUtil">Profil Utilisateur</a></li>
                    <li><a data-toggle="tab" href="#sectionMusician">Profil Musicien</a></li>
                    <li><a data-toggle="tab" href="#sectionBand">Profil Band</a></li>
                </ul>
                <div class="tab-content">
                    <div id="sectionUtil" class="tab-pane in active">
                        @Html.Partial("_UserProfil", user)
                    </div>

                    <div id="sectionMusician" class="tab-pane">
                       
                       @Html.Partial("_MusicianProfil", (TrouveUnBand.Models.Musician)ViewData["MusicianProfilData"])
                    </div> 

                    <div id="sectionBand" class="tab-pane">       
                         
                    </div>

                </div>
        </div>     
    }
}
else
{
    <h2>@Html.ActionLink("Sign in", "Login", "Users", routeValues: null, htmlAttributes: new { id = "registerLink" })</h2>
}
