@model TrouveUnBand.ViewModels.ProfileModificationViewModel
@{
    ViewBag.Title = "ProfileModification";
}

@if (Request.IsAuthenticated)
{
        <div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#sectionUtil">Profil Utilisateur</a></li>
                <li><a data-toggle="tab" href="#sectionMusician">Profil Musicien</a></li>
                <li><a data-toggle="tab" href="#sectionBand">Profil Band</a></li>
            </ul>
                <div class="tab-content">
                    <div id="sectionUtil" class="tab-pane in active">
                        @Html.Partial("_UserProfilModif", Model.UserInfos)
                    </div>

                    <div id="sectionMusician" class="tab-pane fade">
                        @Html.Partial("_MusicianProfilModif", Model.MusicianInfos)
                    </div>

                    <div id="sectionBand" class="tab-pane fade">
                        @*@Html.Partial("_MusicianProfilModif", (TrouveUnBand.Models.User)ViewData["MusicianProfilData"])*@
                    </div> 
                </div>
        </div>     
}
else
{
    <h2>@Html.ActionLink("Sign in", "Login", "Users", routeValues: null, htmlAttributes: new { id = "registerLink" })</h2>
}
