@{
    ViewBag.Title = "TermsAndConditionsDialog";
}

    <div class="modal-dialog modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">Conditions générales d'utilisation</h4>
        </div>
        <div class="modal-body">
            <h1>Conditions générales d'utilisation</h1>
            <p>Dernière mise à jour : 4 Octobre 2014</p>
            <p>J'accepte de vénérer Steven Seagal jusqu'à la fin de mes jours.</p>




            @*CODE SECRET NE PAS REGARDER!!!!!*@




















            @*TRÈS SÉRIEUX!*@














            @*NE PAS ALLER PLUS LOIN*@











            @*SI VOUS LISEZ CECI, PASSEZ LES LIGNES DE CODES SUIVANTES SANS Y PORTER ATTENTION*@



            <div id="TicTacToe" class=" col-md-12">
                <div>
                    <h1>Tic Tac Toe</h1>
                </div>
                <div class="col-md-4 row">
                    <div>
                        <input id="one" type="button" value="•" class="btn btn-lg btn-default btn-tic-tac-toe">
                        <input id="two" type="button" value="•" class="btn btn-lg btn-default btn-tic-tac-toe">
                        <input id="three" type="button" value="•" class="btn btn-lg btn-default btn-tic-tac-toe">
                    </div>
                    <div>
                        <input id="four" type="button" value="•" class="btn btn-lg btn-default btn-tic-tac-toe">
                        <input id="five" type="button" value="•" class="btn btn-lg btn-default btn-tic-tac-toe">
                        <input id="six" type="button" value="•" class="btn btn-lg btn-default btn-tic-tac-toe">
                    </div>
                    <div>
                        <input id="seven" type="button" value="•" class="btn btn-lg btn-default btn-tic-tac-toe">
                        <input id="eight" type="button" value="•" class="btn btn-lg btn-default btn-tic-tac-toe">
                        <input id="nine" type="button" value="•" class="btn btn-lg btn-default btn-tic-tac-toe">
                    </div>
                </div>
                <div class="col-md-3 row">
                    <div class="input-group col-md-12" style="margin-bottom:20px">
                        <span class="input-group-addon ">Victoire(s) X:</span>
                        <input id="XWin" type="text" class="form-control col-md-2">
                    </div>
                    <div class="input-group col-md-12" style="margin-bottom:20px">
                        <span class="input-group-addon ">Victoire(s) O:</span>
                        <input id="OWin" type="text" class="form-control col-md-2">
                    </div>
                    <button id="btnTicTacToeNewGame" class="btn btn-success col-md-12">Recommencer</button>
                </div>
            </div>



        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
    </div>
</div>

<div class="modal fade" id="snake" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <canvas id="canvas" width="100" height="100"></canvas>
            </div>
        </div>
    </div>
</div>