@{
    ViewBag.Title = "TermsAndConditionsDialog";
}

<div class="modal-dialog modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">Conditions générales d'utilisation</h4>
			</div>
			<div class="modal-body">
                <h1>Conditions générales d'utilisation</h1>
                <p>Dernière mise à jour : 4 Octobre 2014</p>
                <p>J'accepte de vénérer Steven Seagal jusqu'à la fin de mes jours.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
