
@{
    ViewBag.Title = "test";
}

<div id="TicTacToe" class="container" style="width:800px; margin:0 auto;">
    <div>
        <h1>Tic Tac Toe</h1>
    </div>
    <div>
        @*<button class="btn btn-success col-md-3 col-md-pull-5 pull-right">Recommencer</button>*@
        <div class="input-group">
            <span class="input-group-addon col-md-1 col-md-pull-5 pull-right">Victoire(s) X:</span>
            <input type="text" class="form-control col-md-2">
        </div>
        <div class="input-group">
            <span class="input-group-addon col-md-1 col-md-pull-5 pull-right">Victoire(s) O:</span>
            <input type="text" class="form-control col-md-2">
        </div>
    </div>
    <div>
        <input type="button" value="•" class="btn btn-lg btn-default btn-tic-tac-toe">
        <input type="button" value="•" class="btn btn-lg btn-default btn-tic-tac-toe">
        <input type="button" value="•" class="btn btn-lg btn-default btn-tic-tac-toe"> 
    </div>    
    <div>
        <input type="button" value="•" class="btn btn-lg btn-default btn-tic-tac-toe">
        <input type="button" value="•" class="btn btn-lg btn-default btn-tic-tac-toe">
        <input type="button" value="•" class="btn btn-lg btn-default btn-tic-tac-toe">
    </div>
    <div>
        <input type="button" value="•" class="btn btn-lg btn-default btn-tic-tac-toe">
        <input type="button" value="•" class="btn btn-lg btn-default btn-tic-tac-toe">
        <input type="button" value="•" class="btn btn-lg btn-default btn-tic-tac-toe">
    </div>
</div>
<div class="input-group col-md-2">
    <span class="input-group-addon">Victoire(s) O:</span>
    <input type="text" class="form-control" placeholder="Username">
</div>

<script>
    $(document).ready(function () {
        var X = "X"
        var O = "O"
        var X_Win = 0;
        var O_Win = 0;
        var PlayedTurn = 0;

        $(".btn-tic-tac-toe").click(function () {
        }, function () {
            
            if (PlayedTurn%2 == 0)
            {
                $(this).removeClass("btn-default");
                $(this).addClass("btn-primary");
                $(this).prop('disabled', true);
                $(this).val("X");
                PlayedTurn++;
            }
            else
            {
                $(this).removeClass("btn-default");
                $(this).addClass("btn-info");
                $(this).prop('disabled', true);
                $(this).val("O");
                PlayedTurn++;
            }
        });

    });
</script>
