@model TrouveUnBand.Models.User
@{
    ViewBag.Title = "test";
}

<a class="stars star-rating big-star" style="color: #428bca" data-nb-stars="5" data-placement="right" data-rating="1"></a>
    

<script>

</script>
