
<div class="panel panel-primary">
    <table class="table table-musician-info table-striped">
            <thead class="panel-heading">
                <tr>
                    <th>Instrument:</th>
                    <th>Niveau d'expérience:</th>
                </tr>
            </thead>
            <tbody class="panel-body">
                <tr>
                    <td>instrument</td>
                    <td>Niveau</td>
                </tr>
                <tr>
                    <td>instrument</td>
                    <td>Niveau</td>
                </tr>
            </tbody>
    </table>
</div>

