@model TrouveUnBand.Models.Photo

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row padding-right-20">
                <button type="button" class="close" data-dismiss="modal">X</button>
            </div>
        </div>
        <div class="modal-body centrer-image">
            <img alt="" src="@Model.stringProfilePicture" width="600" class="photo" />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
    </div>
</div>