@model TrouveUnBand.Models.BandProfileViewModel
@*
    Metadata de Schema.org
*@
<div>
    <div vocab="http://schema.org/" typeof="MusicGroup">
        <h2 property="name" content="@Model.Name"></h2>
        <span property="description" content="@Model.Description"></span>
        <meta property="place" content="@Model.Location" />
    </div>
</div>
@*
    Metadata de Open Graph protocol
*@
<div>
        <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:og="http://ogp.me/ns#"
          xmlns:fb="http://www.facebook.com/2008/fbml">
            
        <title>TrouverUnband</title>
        <meta property="og:title" content="TrouverUnBand">
        <meta property="og:type" content="band">
        <meta property="og:url" content="@Request.Url">
        <meta property="og:image" content="http://placehold.it/600x200">
        <meta property="og:site_name" content="TrouverUnBand.com">
        <meta property="fb:app_id" content="376742939160233">
        <meta property="og:description" content="Chercher et trouver un band ou un musicien">
</div>
<!-- Open Graph Meta Tags by: www.MetaTagGenerator.org -->
