<div id="SocialMediaButtons" class="container-fluid pull-right">
    <div class="pad-top-10">
        <ul class="list-unstyled">
            <li>
                <div class="g-plus" data-action="share" data-annotation="none"></div>
            </li><li>
                <a class="twitter-share-button" href="@Request.Url" data-lang="fr" data-count="none" data-hashtags="TrouverUnBand">Tweeter</a>
            </li><li>
                <div class="fb-share-button" data-href="@Request.Url" data-layout="button"></div>
            </li>
        </ul>
    </div>
</div>
