@{
    ViewBag.Title = "SoundCloudTestPage";
}

<script src="http://connect.soundcloud.com/sdk.js" type="text/javascript"></script>
<script src="../../Scripts/good.js" type="text/javascript"></script>
<ul>
    <li><a href="#" class="genre">dubstep</a></li>
    <li><a href="#" class="genre">metal</a></li>
    <li><a href="#" class="genre">punk</a></li>
</ul>
<div id="target" style="padding-top: 10em"></div>
