<div class="input-group searchbar">
    @Html.TextBox("SearchString", "", new { @class = "form-control searchbar", @placeholder = "Recherche" })
    <span class="input-group-btn">
        <button id="btnSearch" type="submit" class="btn btn-primary">Go!</button>
    </span>
</div>