@{
    ViewBag.Title = "Search";
}

<div class="row">
    <div class="form-group form-inline">
        @using (Ajax.BeginForm("Filter", "Search", FormMethod.Get, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "SearchResults" }))
        {
            @Html.DropDownList("musicalGenres", (SelectList)ViewData["musicalGenres"], new { @class = "form-control" })
            @Html.DropDownList("searchCategories", (SelectList)ViewData["searchCategories"], new { @class = "form-control" });
            @Html.TextBox("SearchString", new { @class = "form-control", @placeholder = "Recherche" })
            <button type="submit" class="btn btn-primary">Filtrer</button>
        }
    </div>
</div>

<div id="SearchResults">
    @Html.Partial("_SearchResults")
</div>
