@{
    ViewBag.Title = "Search";
}
<a href="#" id="toggle-filter">Filtre avancée</a>
<div id="basic-filter">@Html.Partial("_BasicFilter")</div>
<div id="advanced-filter">@Html.Partial("_AdvancedFilter")</div>
<div id="SearchResults">@Html.Partial("_SearchResults")</div>
