@model TrouveUnBand.Models.BandProfileViewModel

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Description du band</h3>
    </div>
    <div class="panel-body">
        @Model.Description
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Influences</h3>
    </div>
    <div class="panel-body">
        @Model.Influences
    </div>
</div>