@{
    ViewBag.Title = "Confirmation";
}

<div tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    
                    <div class="container-fluid">
                        <div class="display-label">
                            <h2></h2>
                        </div>
                        <blockquote>
                        <div id="ModalName">
                        
                        </div>
                        </blockquote>
                    </div>

                    <div class="container-fluid">
                        <div class="display-label">
                            <h2></h2>
                        </div>
                        <blockquote>
                        <div id="ModalLocation">
                        
                        </div>
                        </blockquote>
                    </div>

                    <div class="container-fluid">
                        <div class="display-label">
                            <h2></h2>
                        </div>
                        <blockquote>
                        <div id="ModalDescription">
                        
                        </div>
                        </blockquote>
                    </div>

                    <div class="container-fluid">
                        <div class="display-label">
                            <h2></h2>
                        </div>
                        <blockquote>
                        <div id="ModalGenres">
                        
                        </div>
                        </blockquote>
                    </div>

                    <div class="container-fluid">
                        <div class="display-label">
                            <h2></h2>
                        </div>
                        <blockquote>
                        <div id="ModalMembers">
                        
                        </div>
                        </blockquote>
                    </div>

                </fieldset>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary" onclick="SendData()">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
</div>