@model TrouveUnBand.Models.Genre

@{
    ViewBag.Title = "Création de band";
}


<div class="panel panel-default">
    <div class="panel-body">
        <h2>Genres</h2>
        <div> 
            @using (Ajax.BeginForm("AddGenre", "Group", FormMethod.Get, 
                                                        new AjaxOptions { HttpMethod = "Put",
                                                            UpdateTargetId = "genretab" }))
            {
      
                <div>
                    @Html.DropDownList("GenreList", new SelectList(ViewBag.GenreListDD, "GenreId", "Name", 0), new { @class = "form-control " })
            
                    <button type="submit" class="btn btn-default btn-sm" title="Edit">
                        <span  class="glyphicon glyphicon-plus">
                        </span>
                    </button>

                </div>
            }
               
            <div>
                @if ((((TrouveUnBand.Models.Band)Session["myBand"]).Genres).Any())
                {
                        int j = 0;
                        <table id="GenreTable">
                        @foreach (var item in ((TrouveUnBand.Models.Band)Session["myBand"]).Genres)
                        { 
                            <tr id="@j">
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                <span  class="glyphicon glyphicon-plus">
                                    @Ajax.ActionLink(" ", "RemoveGenre", new { GenreId = item.GenreId },
                                            new AjaxOptions
                                            {
                                                HttpMethod = "Delete",
                                                UpdateTargetId = "genretab",
                                                OnSuccess = "$('#" + @j + "').remove();"
                                            }, new {@class = "btn btn-default btn-sm glyphicon glyphicon-plus" })
                                </span>
                                </td>
                            </tr>
                            j++;
                        }
                        </table>             
                }
            </div>
        </div> 
    </div>
</div>