@model TrouveUnBand.Models.Genre

@{
    ViewBag.Title = "_BandGenreDialog";
}


<div class="panel panel-default">
    <div class="panel-body">
        <h2>Genres</h2>
        <div> 
            <table>
                @using (Html.BeginForm("AddGenre", "Group", FormMethod.Post, new { @class = "row", @role = "form"}))
                {
                    <tr>
                        <td>
                            @Html.DropDownList("GenreList", new SelectList(ViewBag.GenreListDD, "GenreId", "Name", 0), new { @class = "form-control " })
                        </td>
                        <td>
                            <a id="XaddGenre" href="#" onclick='RemoveGenre("ViewData["InCreationBand"]")'>
                                <span  class="glyphicon glyphicon-plus">
                                </span>
                            </a>
                        </td>
                    </tr>

                } 
               
                    @if ((((TrouveUnBand.Models.Band)ViewData["myBand"]).Genres).Any())
                    {
                        foreach (var item in ((TrouveUnBand.Models.Band)ViewData["myBand"]).Genres)
                        { 
                            <tr>
                                <td>
                                    @Html.DropDownList("addedGenreList", new SelectList(ViewBag.GenreListDD, "GenreId", "Name",
                                                                Convert.ToInt32(item.GenreId)))
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" title="Edit" onclick="location.href='@Url.Action("AddGenre", "Group", new { id = item.GenreId })'">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                
                    }
            </table>
        </div> 
    </div>
</div> 



