#calendar {
    background-color: #FDFDFD;
    color: #333;
}

    #calendar table {
        text-align: center;
        margin-bottom: 1em;
    }

        #calendar table #first-row td {
            font-size: 1.5em;
            font-weight: 500;
            padding-bottom: 1.5em !important;
        }

        #calendar table td {
            font-size: 1.3em;
            height: 2.3em;
        }

        #calendar table tr:not(#first-row) td:hover {
            cursor: pointer;
            color: #FDFDFD;
            background-color: #333;
        }

#calender-head {
    font-size: 2em;
    margin-bottom: 2em;
    margin-top: 1em;
    color: #777;
    text-align: center;
}

#calender-head .glyphicon {
    font-size: 0.6em;
    top: -0.1em;
}

#calender-head .glyphicon:hover {
    color: #0099DA;
    cursor: pointer;
}

#calender-head .glyphicon-chevron-left {
    margin-right: 5px;
}

#calender-head .glyphicon-chevron-right {
    margin-left: 5px;
}