#calendar {
    background-color: #FDFDFD;
    color: #333;
}

    #calendar table {
        text-align: center;
        margin-bottom: 1em;
        display: table;
        table-layout: fixed;
    }

        #calendar table #first-row td {
            font-size: 1.5em;
            font-weight: 500;
            padding-bottom: 1.5em !important;
        }

        #calendar table td {
            font-size: 1.3em;
            height: 2.3em;
            display: table-cell;
            width: 2%;
        }

        #calendar table tr:not(#first-row) td:not(.outside-month) {
            cursor: pointer;
        }

            #calendar table tr:not(#first-row) td:not(.outside-month):hover {
                background-color: #EEEEEE;
            }

        #calendar table tr:not(#first-row) td.outside-month {
            color: #aaaaaa;
        }

        #calendar table tr:not(#first-row) td.active,
        #calendar table tr:not(#first-row) td.active:hover {
            background-color: #0099DA;
            color: white;
        }

        #calendar table tr td.today {
            border: 2px solid #0099DA;
        }

        #calendar table tr td.dayWithEvent {
            color: #0099DA;
            font-weight: 800;
        }

#calendar-head {
    font-size: 2em;
    margin-bottom: 2em;
    margin-top: 1em;
    color: #777;
    text-align: center;
}

    #calendar-head .glyphicon {
        font-size: 0.6em;
        top: -0.1em;
    }

        #calendar-head .glyphicon:hover,
        #calendar-head .glyphicon:active {
            color: #0099DA;
        }

    #calendar-head .glyphicon {
        cursor: pointer;
    }

    #calendar-head .glyphicon-chevron-left {
        margin-right: 5px;
    }

    #calendar-head .glyphicon-chevron-right {
        margin-left: 5px;
    }
