#event-page-container .page-display-div {
    margin-top: 1em;
}

    #event-page-container .page-display-div:not(.active) {
        display: none;
    }

#calendar-menu {
    color: #FDFDFD;
    background-color: #333333;
    height: 100%;
    position: absolute;
    display: inline-block;
}

#grid-selector {
    padding-right: 0;
    margin-top: 20px;
    margin-bottom: 5px;
}

#calendar-menu #menu-title {
    margin-top: 30px;
    font-size: 1.5em;
}