#event-page-container .page-display-div {
    margin-top: 1em;
}

    #event-page-container .page-display-div:not(.active) {
        display: none;
    }

#calendar-menu {
    color: #FDFDFD;
    background-color: #333333;
    height: 100%;
    position: absolute;
    display: inline-block;
}
