#event-page-container .page-display-div {
    margin-top: 1em;
}

    #event-page-container .page-display-div:not(.active) {
        display: none;
    }

#event-page-container #filter-menu {
    color: #FDFDFD;
    background-color: #333333;
    height: 100%;
    position: absolute;
    display: inline-block;
}

#event-page-container #grid-selector {
    padding-right: 0;
    margin-top: 20px;
    margin-bottom: 5px;
}

#event-page-container #filter-menu #menu-title {
    font-size: 2em;
    margin-bottom: 2em;
    margin-top: 1em;
    text-align: center;
}

#event-page-container #filter-menu #menu-content .form-control
{
    margin-bottom: 1em;
}

#event-page-container #page-display-calendar {
    margin-bottom: 2em;
}
