#home-jumbotron {
    padding: 0 !important;
    margin-top: -40px;
    margin-bottom: 0px;
}

    #home-jumbotron img {
        width: 100%;
    }

    #home-jumbotron .carousel-caption {
        background-color: rgba(0,0,0,0.7);
    }

.home-section-header {
    text-align: center;
    padding-bottom: 60px !important;
}

    .home-section-header span,
    .home-section-header h1 {
        color: black !important;
    }

    .home-section-header span {
        color: White;
        font-size: 20px;
        font-weight: 800;
        margin: 10px 20px;
    }

.home-section-invert,
.home-section {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 50px;
    padding-top: 80px;
    border-bottom: 1px solid #555;
}

.home-section-content {
    margin-top: 30px;
}

#popovercustom {
    width: 200px;
}

.home-thumbnail-invert,
.home-thumbnail {
    margin-bottom: 2em; 
    padding:0;
}

    .home-thumbnail-invert p,
    .home-thumbnail p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 0;
    }

    .home-thumbnail p {
        color: #bbb;
    }

    .home-thumbnail-invert p {
        color: #444;
    }

    .home-thumbnail p strong {
        color: White;
    }

    .home-thumbnail-invert p strong {
        color: Black;
    }

    .home-thumbnail-invert img,
    .home-thumbnail img {
        width: 100%;
    }

    .home-thumbnail .home-thumbnail-middle {
        background-color: #444;
        width: 100%;
        padding: 1em;
    }

    .home-thumbnail-invert .home-thumbnail-middle {
        background-color: #EEE;
        width: 100%;
        padding: 1em;
        color: black;
    }

.home-section-invert {
    background-color: #1D1D1D;
}

    .home-section-invert h1 {
        color: #F3F3F3 !important;
    }

    .home-section-invert h4 {
        color: #BBB !important;
    }


.home-thumbnail:hover,
.home-thumbnail-invert:hover {
    opacity: 0.5;
    cursor: pointer;
}
