.profile-section{
    padding-right:0 !important;
    padding-left:0 !important;
}

.profile-header{
    padding:10px 15px;
    font-size:16px;
    font-weight:500;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
    color:White;
}

.profile-header-menu{
    background-color:black;
}

.profile-header-sidebar{
    background-color:#585858;
}

.profile-header-info{
    background-color:#888888;
}

.profile-main-content,
.profile-content{
    padding:15px;
    background-color:white;
    color:#3498db;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
}

.profile-content > ul > li{
    position:relative;
}

.profile-user-quickinfo > ul > li,
.profile-content > ul > li > a{
    padding-top:10px;
    padding-bottom:10px;
    display:block;
    color:#3498db;
}

.profile-content > ul > li:hover{
    background-color:#EEEEEE;
}

.profile-content > ul > li > a {
    text-decoration: none;
}

.profile-content > ul > li.active > a{
    color:white;
    background-color:#3498db;
    text-decoration:none;
    outline:0;
}

.profile-user-quickinfo{
    background-color:#F5F5F5;
    border: 1px solid #e3e3e3;
}

.profile-user-quickinfo > ul{
    padding-left:15px;
    padding-right:15px;
}

.profile-tab-header{
    padding:10px 15px;
    background-color:#585858;
    color:white;
    font-size:16px;
    font-weight:500;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
    width:101%;
}

.profile-main-content{
    padding:0;
}

.profile-section{
    padding-top:15px;
}