.big-star {
    font-size: 20px;
}
.stars {
  display: inline-block;
  padding-top:12px;
  padding-left:5px;
  padding-right:5px;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.stars:hover,
.stars:focus {
  text-decoration: none;
}

.field-validation-error
{
    /*returned text when an error occured*/
  font-size: 75%;
  font-weight: bold;
  color: #a94442;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    height: 87px;
}

.normal-font {
    font-weight: normal;
}

﻿.pad-top-30 {
    padding-top: 30px;
}

.pad-top-10{
    padding-top:10px;
}

.pad-bottom-10{
    padding-bottom:10px;
}

.margin-top-50{
    margin-top:-50px;
}

.margin-bottom-50{
    margin-bottom:-50px;
}

.padding-right-20{
    padding-right:20px;
}

.margin-left-0{
    margin-left:0px;
}

.margin-left-20{
    margin-left:20px;
}

.margin-bottom-10{
    margin-bottom:10px;
}

.centrer{
    right:0px;
}

.centrer-image{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

tr.instTable > td{
   padding-bottom: 1em;
}

.col-md-pull-1custom{
     right: 1.35%;
}
 
.col-md-pull-2custom{
    right: 6.90%;
}
  
.col-md-pull-3custom{
    right: 0.90%;
}
    
.col-md-push-1custom{
    left: 9.65%;
}
  
#Xfermer{
    font-weight:bold;
}

﻿.card {
    height: 400px;
}

.searchbar {
    width: 550px;
    height: 50px;
    font-size: 125%;
    margin: 0 auto;
    padding: 20px 0;
}

.searchform {
    padding: 0 0 20px 0;
    text-align: center;
}

#btnSearch {
    height: 50px;
}

#advanced-search-link { 
    text-align: center;
}

.main-content {
    margin-top: 40px;
}
