:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

:-moz-any-link:focus {
    outline: none;
}

﻿.big-star {
    font-size: 20px;
}

.stars {
    display: inline-block;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

    .stars:hover,
    .stars:focus {
        text-decoration: none;
    }

.field-validation-error {
    font-size: 75%;
    font-weight: bold;
    color: #a94442;
}

.navbar-login {
    width: 315px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-footer {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    height: 87px;
}

.navbar-login a {
    font-weight: 600;
}

.normal-font {
    font-weight: normal;
}

.centrer {
    right: 0px;
}

.centrer-image {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

tr.instTable > td {
    padding-bottom: 1em;
}

#Xfermer {
    font-weight: bold;
}

﻿.card {
    height: 400px;
}

.searchbar {
    width: 550px;
    margin: 0 auto;
}

.searchform {
    padding: 0 0 20px 0;
    text-align: center;
}

#btnSearch {
    height: 50px;
}

#advanced-search-link {
    text-align: center;
}

.main-content {
    margin-top: 40px;
}

.CropThumbNail {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-tic-tac-toe {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    margin-left: 5px;
    font-size: 35px;
    line-height: 30px;
}

#PicModal .modal-content {
    display: inline-block;
    text-align: center;
    background-color: transparent;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
    border: 0;
}

#PicModal .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    padding-bottom: 7px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    z-index: 1032;
}

#AdvertDesc {
    margin-top: -25px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #F3F3F3;
    display: none;
}

    .back-to-top:hover {
        background-color: #0099DA;
        color: #F3F3F3 !important;
    }

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

/* Second level drop-down-list */

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

.popover {
    color: #333333;
}

.label-popover {
    cursor: pointer;
    vertical-align: middle;
}

.profile-modif-tab-container {
    margin-top: 1em;
}

.profile-modif-btn-group {
    margin-top: 1em;
}

.login-container {
    margin-top: 20px;
}

.photo-upload-browser {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

    .photo-upload-browser input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.photo-upload-clear {
    display: none;
}

.image-upload-input-title {
    margin-left: 4px;
}

.file-uploader {
    margin-bottom: 1em;
}

.main-container {
    padding-top: 100px;
}

.popover {
    width: 200px;
}


.profile-modif-tab-container .thumbnail{
    cursor:pointer;
}

.Auth-Container 
{
    padding-top: 15em;
}

.Big-h1 {
    font-size:5em;
}

.Center-Text {
    text-align: center;
}

#page-alerts {
    top:60px;
    position:relative;
}

.box {
border:solid 2px #e0e0e0;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
}

.pusher{ clear:both; height:100px;}