                    <div id="SocialMediaButtons" class="container-fluid pull-right">
                        <div>
                            <g:plusone></g:plusone>
                            <div class="g-plus" data-action="share" data-annotation="bubble"></div>
                            <a class="twitter-share-button" href="https://twitter.com/share">Tweet</a>
                            <div class="fb-like" data-href="@Request.Url" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div>
                            <div class="fb-share-button" data-href="@Request.Url" data-layout="button"></div>
                        </div>
                    </div>